{% extends "fragments/layout" %}

{% block body %}

<!-- Lista de Tarjetas -->
{% if alumnos is empty %}
<div class="alert alert-info text-center">
  <i class="bi bi-info-circle"></i> No se han encontrado alumnos
</div>
{% else %}
<table class="mt-5 table table-striped">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Grado</th>
  </tr>
  {% for alumno in alumnos %}
  <tr>
    <td>{{ alumno.id }}</td>
    <td><a href="/app/misalumnos/{{ alumno.id }}">{{ alumno.nombre }}</a>  </td>
    <td>{{ alumno.apellido }}</td>
    <td>{{ alumno.grado }}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}
{% endblock %}
